apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: default

resources:
  - configmap.yaml
  - secret.yaml
  - deployment.yaml
  - service.yaml

commonLabels:
  app: rap-analyzer
  version: v1.0.0
  environment: base
